.customize-control-trendy-blog-spacing .control-wrap {
    display: flex;
}

.customize-control-trendy-blog-spacing .control-wrap li {
    flex-grow: 1;
    padding-left: 2px;
}

.customize-control-trendy-blog-spacing .control-wrap li input {
    border-radius: 0;
}

.customize-control-trendy-blog-spacing .control-wrap.linked .trigger-link-control {
    background-color: #a4afb7;
}

.customize-control-trendy-blog-spacing .control-wrap .trigger-link-control {
    background-color: #ffffff;
    cursor: pointer;
    padding: 5px 2px;
    margin-top: 18px;
    border-radius: 0px 4px 4px 0px;
}