.customize-control-trendy-blog-control-group {
    background-color: #ffffff;
    position: relative;
}

.customize-control-trendy-blog-control-group .heading-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px;
}

.customize-control-trendy-blog-control-group .content-wrap {
    display: none;
}

.customize-control-trendy-blog-control-group .popup-trigger {
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 50%;
    font-size: 20px;
    padding: 5px;
}

.customize-control-trendy-blog-control-group .popup-trigger.open {
    color: #ffffff;
    background-color: #0073aa;
}

.customize-control-trendy-blog-control-group .content-wrap {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 70%);
    position: absolute;
    right: 0;
    z-index: 9999;
    padding: 10px;
    width: calc(100% - 20px);
}

.customize-control-trendy-blog-control-group .content-wrap:before {
    border: 8px solid transparent;
    border-bottom-color: #fff;
    content: "";
    pointer-events: none;
    position: absolute;
    right: 17px;
    top: -15px;
}

#customize-theme-controls .control-section.open {
    height: 100%;
}