/* Range Slider */
.customize-control-trendy-blog-range-slider .customize-control-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customize-control-trendy-blog-range-slider .trendy-blog-slider-reset {
    float: right;
    cursor: pointer;
    font-size: 14px;
    color: #999;
    line-height: 18px;
}

.trendy-blog-range-slider-control-wrap {
    width: 100%;
    display: flex;
    align-items: center;
}

.trendy-blog-range-slider {
    position: relative;
    flex-grow: 1;
    height: 4px;
    margin: 12px 0;
    background: rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.5s;
}

.trendy-blog-range-slider:hover {
    background: rgba(0, 0, 0, 0.2);
}

.trendy-blog-range-slider .ui-slider-range {
    display: inline-block;
    position: absolute;
    top: 0;
    height: 100%;
    background: #13a1dc;
}

.trendy-blog-range-slider .ui-slider-handle {
    height: 16px;
    width: 16px;
    background: #fff;
    border: none;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin: 0;
    transform: translateY(-50%) translateX(-4px);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;
}

.trendy-blog-range-slider-control-wrap .trendy-blog-range-slider-input {
    margin-left: 14px;
}

.trendy-blog-range-slider-control-wrap .trendy-blog-range-slider-input input {
    width: 60px;
    height: 28px;
    text-align: center;
    border-radius: 4px;
    padding: 3px;
    font-size: 12px;
    font-weight: 600;
    color: #555;
}

.trendy-blog-range-slider-control-wrap .trendy-blog-range-slider-unit {
    margin-left: 5px;
}